.header {
  font-family: 'League Gothic', sans-serif;
  display: flex;
  flex-direction: row;
  background-color: $background;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  color: $font-color;
  font-size: $font-size-small;
  padding: $padding-header;
}
.mobile-title {
  display: none;
}
.logo img {
  height: $logo-height;
}
.btn {
  border: solid white 1px;
  background-color: $background;
  align-items: center;
  height: 10vh;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search__btn {
  font-family: 'League Gothic', sans-serif;
  color: $font-color;
  font-size: $font-size-small;
  display: flex;
  align-items: center;
  padding: 0.15rem 1rem;
  text-transform: uppercase;
  grid-gap: 1vh;
}
.links__container {
  list-style: none;
  background-color: $background;
}
.links {
  display: flex;
  list-style: none;
  grid-gap: $gap-links;
}
.ie {
  font-size: $font-size-exsmall;
}

button {
  width: 100%;
  max-width: 300px;
}
input {
  width: 100%;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 10px 1px 0px 5px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  transform: skew(-3deg, 1deg);

  text-transform: uppercase;
  &:focus,
  &:valid {
    outline: none;
    ~ ul li {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          &::before {
            filter: blur(20px);
            transform: translate(0, -35px) rotate(-210deg);
          }
          &::after {
            filter: blur(0);
            transform: scale(1) rotate(0);
          }
        }
      }
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          &::after {
            transition-delay: 200ms + ($i * 200ms);
          }
        }
      }
    }
  }
}

.primary__navigation {
  background: hsla(213, 57%, 33%, 0.1);
  backdrop-filter: blur(1rem);
}
.mobile__nav__toggle {
  display: none;
}
nav {
  display: flex;
}

@media (max-width: 48em) {
  .header {
    color: $font-color-alternative;
    font-size: $font-size-medium;
  }
  .mobile-title {
    display: block;
    font-size: $font-size-small;
    padding: $padding-header;
  }
  nav {
    background-color: pink;
  }
  .logo img {
    height: 3.75vh;
    padding-top: 0.5vh;
  }
  .search__btn {
    font-family: 'League Gothic', sans-serif;
    color: $font-color;
    font-size: $font-size-medium;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    grid-gap: 2.5vh;
  }
  .mobile__nav__toggle {
    display: block;
    position: absolute;
    z-index: 9998;
    background: url('../imgs/hamburger.png');
    background-repeat: no-repeat;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 1.25rem;
    right: 1.25rem;
  }
  .primary__navigation {
    position: fixed;
    z-index: 9997;
    inset: 0 0 0 0%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary__navigation[data-visible='true'] {
    transform: translateX(0%);
  }
  .links__container {
    padding: 0;
    background: hsla(213, 57%, 33%, 0.1);
    backdrop-filter: blur(1rem);
  }

  .links {
    flex-direction: column;
    padding: 5vh;
    grid-gap: $gap-links + 5vh;
  }
  form {
    flex-direction: column;
  }
}
