.preview {
  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      padding: 0.75rem 0.5rem;
      transition: all 0.3s;
      border-right: 10px solid $background;
      text-decoration: none;
    }

    &:hover {
      background-color: $background;
      transform: translateY(-5px);
    }

    &--active {
      background-color: red;
    }
  }

  &__fig {
    flex: 0 0 3.2rem;
    border-radius: 50%;
    overflow: hidden;
    height: 3.2rem;
    margin-right: 1rem;
    position: relative;
    backface-visibility: hidden;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $background,
        $font-color
      );
      opacity: 0.25;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  &__data {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2rem;
    row-gap: 0.1rem;
    align-items: center;
  }

  &__title {
    grid-column: 1/-1;
    font-size: 0.95rem;
    color: $background;
    text-transform: uppercase;
    font-weight: 600;

    // This is how text is truncated!
    text-overflow: ellipsis;
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__publisher {
    font-size: 1.15rem;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__user-generated {
    background-color: darken(#ffff, 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;

    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 1.2rem;
      width: 1.2rem;
      fill: #ffff;
    }
  }
}
