.preview {
  font-family: 'League Gothic', sans-serif;

  &__link {
    &:link,
    &:visited {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.25rem;
      transition: all 0.3s;
      border-right: 5px solid $background;
      text-decoration: none;
    }

    &:hover {
      background-color: rgb(199, 224, 245);
      transform: translateY(-5px);
      color: #ffff;
    }

    &--active {
      background-color: rgb(199, 224, 245);
    }
  }

  &__fig {
    flex: 0 0 3.2rem;
    border-radius: 50%;
    overflow: hidden;
    height: 3.2rem;
    margin-right: 1rem;
    position: relative;
    backface-visibility: hidden;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $background,
        $font-color
      );
      opacity: 0.25;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  &__data {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2rem;
    row-gap: 0.1rem;
  }

  &__title {
    grid-column: 1/-1;
    font-size: 1.35rem;
    color: $background;
    text-transform: uppercase;
    font-weight: 400;

    // This is how text is truncated!
    // text-overflow: ellipsis;
    // max-width: 30rem;
    // white-space: nowrap;
    // overflow: hidden;
  }

  &__publisher {
    font-size: 1.05rem;
    color: $background;
    text-transform: uppercase;
    font-weight: 100;
    opacity: 0.5;
  }
}
