.tutorial {
  background: #ffff;
  width: 60vw;

  ///////////
  // FIGURE
  &__fig {
    height: 14.5rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $background,
        $font-color
      );
      opacity: 0.4;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 15%);
    color: #fff;
    font-size: 1.35rem;
    text-transform: uppercase;
    width: 65%;
    line-height: 2.25;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.65rem 1rem;
      background-image: linear-gradient(
        to right bottom,
        $background,
        $font-color
      );
    }
  }
}

.recipe__ingredients {
  font-family: 'League Gothic', sans-serif;
  height: 100%;
  background-color: $background;
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}
.heading--2 {
  font-size: $font-size-large;
  align-items: center;
  border-bottom: 2px solid $font-color;
  padding: 0.5rem;
}
.recipe__ingredient-list {
}
.recipe__ingredient {
}
.recipe__description {
  display: block;
  font-size: $font-size-small;
  padding: 0.45rem 0;
}
.recipe__description span {
  padding: 0.25rem;
}
