.tutorial {
  background: #ffff;
  height: 100%;
  width: 60vw;

  ///////////
  // FIGURE
  &__fig {
    height: 18rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $background,
        $font-color
      );
      opacity: 0.4;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 15%);
    color: #fff;
    font-size: 1.35rem;
    text-transform: uppercase;
    width: 65%;
    line-height: 2.25;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.65rem 1rem;
      background-image: linear-gradient(
        to right bottom,
        $background,
        $font-color
      );
    }
  }
}
