@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

$application-height: 100vh -2 * 4vh;
$logo-height: 1.8rem;

$gap-links: 2.5vh;

$padding-header: 1.5vh;
$padding-header-mobile: 2.5vh;

$background: #003057;

$font-color: #ffff;
$font-color-alternative: #003057;

$font-size-exsmall: 1.45rem;
$font-size-small: 1.65rem;
$font-size-medium: 2.05rem;
$font-size-large: 2.55rem;

@import 'header';
@import 'general';
@import 'preview';
@import 'results';
@import 'tutorial';
